.header {
    width: 100%;
    height: 1.15rem;
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 0 .3rem;
    position: fixed;
    top: 0;
    z-index: 998;
}

.logo {
    padding: 10px;
    float: left;
    height: 50px
}

.logo img {
    margin: auto;
    max-height: 30px;
}

.menu {
    width: .6rem;
    height: .6rem;
    border-radius: 100%;
    border: 2px solid #003399;
    float: right;
    position: relative;
    z-index: 999;
    margin-top: .28rem;
}

.menu span {
    display: block;
    background: #003399;
    width: .36rem;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all ease 0.35s
}

.menu span:nth-of-type(1) {
    top: .1rem;
}

.menu span:nth-of-type(2) {
    top: .25rem;
}

.menu span:nth-of-type(3) {
    top: .4rem;
}

.menu_se span:nth-of-type(1) {
    top: .25rem;
    transform: rotate(45deg)
}

.menu_se span:nth-of-type(2) {
    width: 0
}

.menu_se span:nth-of-type(3) {
    top: .25rem;
    transform: rotate(-45deg)
}

.nav {
    position: fixed;
    z-index: 9;
    background: #eee;
    width: 100%;
    height: calc(100% - 104px);
    font-size: 14px;
    line-height: 40px;
    top: -100%;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    transition: top ease 0.35s;
}

.nav_show {
    top: 50px
}

.nav > ul > li:first-child {
    overflow: hidden;
    border-top: 0
}

.nav > ul > li:first-child > a {
    float: left;
    width: calc(100% - 70px)
}


.nav ul li {
    border-top: 1px #ddd solid;
    margin-left: 20px;
    position: relative;
    line-height: 40px;
    font-size: 14px
}

.nav > ul > li:last-child {
    border-bottom: 1px #ddd solid;
}

.nav ul li a {
    color: #666;
    width: 80%
}
